@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 50px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
      h1 {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 42px;
        color: #EBB75A;
      }

      h2 {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
      }

      img {
        position: absolute;
        top: 40px;
        left: 430px;
      }
    }

    a {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
    }

    .tell {
      h1 {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
      }

      p {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #EBB75A;
      }
    }
  }
}

#hero {
  background: url("../img/bg1.png") no-repeat center/cover;
  padding: 150px 0;

  .hero {

    h1 {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 64px;
      color: #FFFFFF;
      margin-bottom: 50px;
    }

    p {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }

    .img1 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .img2 {
      position: absolute;
      top: 145px;
      left: 648px;
    }

    .img3 {
      position: absolute;
      top: 445px;
      left: -20px;
    }

    .img4 {
      position: absolute;
      left: 1150px;
      top: 560px;
    }

    .hero-btn {
      display: flex;

      button {
        @include btn()
      }

      h1 {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        padding-left: 20px;

        span {
          color: #EBB75A;
        }
      }
    }

    .hero-icons {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      div {
        display: flex;
        align-items: center;
        padding-right: 100px;

        img {
          padding-bottom: 50px;
          padding-right: 10px;
        }

        h1 {
          font-family: 'Forum', sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;

        }
      }
    }


  }
}

#menu {
  background: #2b2b2b;

  .menu {
    h1 {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 55px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }

    img {
      position: absolute;
      top: 890px;
      left: 404px;
    }


    .tab-gen {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .label1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        label {
          padding: 15px 50px;
          border: 2px solid #FFFFFF;
          border-radius: 63px;
          color: #FFFFFF;
          margin: 20px 50px;
          cursor: pointer;
          transition: .4s;

          &:hover {
            border: 2px solid #EBB75A;
          }
        }
      }

      .general {
        margin-top: 100px;

        input {
          display: none;
        }

        .tab-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          div {
            width: 241px;
            height: 291px;
            border: 2px solid #FFFFFF;
            border-radius: 30px;
            padding-left: 10px;
            margin: 130px 20px;

            .img1 {
              position: absolute;
              top: 1350px;
              left: 252px;
            }

            .img2 {
              position: absolute;
              top: 1350px;
              left: 672px;
            }

            .img3 {
              position: absolute;
              top: 1350px;
              left: 1072px;
            }

            .img4 {
              position: absolute;
              top: 1900px;
              left: 252px;
            }

            .img5 {
              position: absolute;
              top: 1900px;
              left: 672px;
            }

            .img6 {
              position: absolute;
              top: 1900px;
              left: 1075px;
            }

            h1 {
              font-family: 'Forum', sans-serif;
              font-weight: 400;
              font-size: 20px;
              color: #FFFFFF;
              padding-top: 120px;
              margin-bottom: 50px;
            }

            h2 {
              font-family: 'Forum', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              margin-bottom: 20px;
            }

            h3 {

              font-family: 'Forum', sans-serif;
              font-weight: 400;
              font-size: 24px;
              color: #FFFFFF;
            }

            p {
              font-family: 'Forum', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              padding-left: 130px;

            }
          }
        }
      }
    }

    .menu-bg1 {
      position: absolute;
      top: 150rem;
      left: 0;
    }

    .menu-bg2 {
      position: absolute;
      top: 145rem;
      left: 80rem;
    }

    .menu-bg3 {
      position: absolute;
      top: 145rem;
      left: 0;
    }

  }
}

#m1:checked ~ .block1,
#m1:checked ~ .block2,
#m1:checked ~ .block3,
#m1:checked ~ .block4,
#m1:checked ~ .block5,
#m1:checked ~ .block6,
{
  display: none;
}

#taxi {
  background: #2b2b2b;
  padding-top: 250px;

  .taxi {
    h1 {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 48px;
      color: #FFFFFF;
      margin-bottom: 40px;
    }

    p {
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 40px;
      color: #EBB75A;
      margin-bottom: 100px;
    }

    .tit-gen {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        h1 {
          font-family: 'Forum', sans-serif;
          font-weight: 400;
          font-size: 24px;
          color: #FFFFFF;
          margin-bottom: 10px;

        }

        p {
          font-family: 'Forum', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;

        }
      }
    }

    .tit-gen2{
      display: flex;
      margin-bottom: 100px;
      div {
        margin: 0 200px;
        h1 {
          font-family: 'Forum', sans-serif;
          font-weight: 400;
          font-size: 24px;
          color: #FFFFFF;
          margin-bottom: 10px;

        }

        p {
          font-family: 'Forum', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;

        }
      }
    }

    .vector{
      position: absolute;
      top: 183rem;
      left: 20rem;
    }

    .taxi-phone{
      position: absolute;
      top: 191rem;
      left: 190px;
    }

    .taxi-air{
      position: absolute;
      top: 176rem;
      left: 465px;
    }

    .taxi-pizza{
      position: absolute;
      top: 193rem;
      left: 685px;
    }

    .taxi-taxi{
      position: absolute;
      top: 176rem;
      left: 900px;
    }

    .taxi-box{
      position: absolute;
      top: 193rem;
      left: 1150px;
    }

    .touch1{
      position: absolute;
      top: 192rem;
      left: 312px;
    }

    .touch2{
      position: absolute;
      top: 182.5rem;
      left: 500px;
    }
    .touch3{
      position: absolute;
      top: 192rem;
      left: 740px;
    }
    .touch4{
      position: absolute;
      top: 183rem;
      left: 950px;
    }
    .touch5{
      position: absolute;
      top: 192rem;
      left: 1170px;
    }
    button{
      @include btn()
    }
    &-tit{
      font-family: 'Forum', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}